* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(3, 0, 17);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(13, 32, 83);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(243, 121, 8);
    font-size: 1.025rem;
}

.left {
    font-size: 1.5rem;
}
.left a {
    text-decoration: none;
    color: azure;
}
.firstSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 0;
}
.leftSection {
    margin-bottom: 20px;
    text-align: center;
    width: 50%;
    font-size: 2.5rem;
}

.leftSection .btn {
    padding: 11px;
    background-color: #4a475d;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 17px;
}
.rightSection {
    width: 30%;
}
.image-frame {
    max-width: 100%;
    overflow: hidden;
    border: 10px solid #ddd;
    border-radius: 15px;
    display: inline-block;
}
.image-frame img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    filter: grayscale(20%);
    transition: filter 0.3s ease-in-out;
}
.image-frame:hover img{
    filter: grayscale(0%);
    transform: scale(1.01);
}

.nameColor {
    color: rgb(174, 111, 233);
}

#element {
    color: rgb(174, 111, 233);
}